**/node_modules
node_modules
.pnpm-store
**/.pnpm-store
**/.turbo
**/dist
**/build
**/coverage
**/.cache
**/.next
**/.nuxt
**/.output
.git
.github
.trae
*.log
Dockerfile
docker-compose*.yml
pnpm-debug.log
**/.DS_Store

